*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container
{
    background-image: url(random\ line\ 2.webp);
        
    /* background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet); */
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.to-do
{   
    background-image: linear-gradient(rgb(84, 92, 92), rgb(243, 248, 248), rgb(84, 92, 92));
    border-style: solid;
    width: 400px;
    max-width: 400px;
    height: 100%;
    border-radius: 25px;
    /* padding: 10px; */
    padding-left: 50px;
    /* padding-bottom: 90px; */
    padding-top: 30px;
    /* background-color:aqua; */
}
.task-div
{
    margin-top: 420px;
    display: flex;
    align-items: center;
    background-color:antiquewhite;
    height: 40px;
    border-radius: 20px;
    margin-right: 30px;
    padding-left: 10px;
    position: relative;
    /* position: fixed; */
    
}
.butt
{
    
    position: absolute;
    right: 0px;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 30px;
    width: 40px;
    cursor: pointer;
    /* background-image: url(send\ logo.png); */
    background-color: rgb(183, 245, 14);
}
input
{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
}
ul li
{   
    margin: 10px;
    /* padding: 8px 25px 10px; */
    position: relative;
    
}
ul li::before
{
    content: "";
    background-image: url("un\ check\ box.png");
    background-size: contain;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 1px;
    left: -45px;
    
}
#task-list
{
    /* background-color: rgb(233, 233, 133); */
    padding-left: 35px; 
    font-size: 20px;
    list-style: none;
    padding-top: 20px;
    
    border-radius: 35px;
    height: 40px;
    
}

ul li.checked
{
    color: rgb(49, 43, 43);
    text-decoration: line-through;
}

ul li.checked::before
{
    background-image: url("checked.png");
}

span
{
    position: absolute;
    right: 20px;
    font-size: 36px;
    top: -15px;
    cursor: pointer;
    
}